/* Color palette */
:root {
  --orange: #ff6600;
  --deep-blue: #13304f;
  --bright-yellow: #f2db4b;
  --light-gray: #f2f2f2;
  --white: #fff;
  --dark-gray: #333;
  --grey: #595c6a;
  --light-blue: hsl(210, 36%, 96%);
}

/* Reset */
/* Global Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}

/* Navbar Styling */
.navbar {
  background-color: var(--light-gray); 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: sticky;
  padding-top: 3px;
  top: 0;
  z-index: 100;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

.logo img {
    width: 140px;
    height: auto;
}

/* Navigation Links */
.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 25px;
}

.nav-links .nav-link {
    text-decoration: none;
    color: var(--deep-blue);
    font-size: 16px;
    position: relative;
    transition: color 0.3s ease;
}

.nav-links .nav-link:hover {
  color: var(--orange);
}

/* .nav-link::after{
  content: "";
  position: absolute;
  background-color: var(--deep-blue);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -1px;
  transition: 0.4s;
} */

/* .nav-link:hover::after {
  width: 100%;
} */

.nav-link.active {
  color: var(--orange);

}


.donate-btn {
    background-color: var(--deep-blue);
    color: var(--orange);
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease;

}

.donate-btn:hover {
  background-color: #0f263d;
}


/* Hamburger Menu */
.menu-icon {
    display: none;
    font-size: 26px;
    cursor: pointer;
}

#menu-toggle {
    display: none;
}


/* Responsive Styling  */
@media (max-width: 768px) {

  .menu-icon {
    display: block;
  }

  .nav-links {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--light-gray);
    width: 100%;
    position: absolute;
    top: 70px;
    left: 0;
    padding: 10px 20px;
    display: none;
  }

  #menu-toggle:checked + .menu-icon + .nav-links {
    display: flex;
  }

  .nav-links a {
    padding: 10px 0;
    width: 100%;
  }


  .donate-mobile {
    width: 100%;
    margin-top: 10px;
  }

  .donate-btn {
    display: block;
    background-color: var(--deep-blue);
    color: var(--white);
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }

  .donate-btn:hover {
    background-color: #0f263d;
  }

}


