/* Color palette */
:root {
  --orange: #ff6600;
  --deep-blue: #13304f;
  --bright-yellow: #f2db4b;
  --light-gray: #f2f2f2;
  --white: #fff;
  --dark-gray: #333;
  --grey: #595c6a;
  --light-blue: hsl(210, 36%, 96%);
}


/* Global Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}

section {
  scroll-margin-top: 50px; 
}

/* Navbar Styling */
.navbar {
  background-color: var(--light-gray); 
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  position: sticky;
  padding-top: 4px;
  padding-bottom: 7px;
  top: 0;
  z-index: 100;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}

.logo img {
  padding-top: 4px;
  width: 130px;
  height: auto;
}

/* Navigation Links */
.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav-links .nav-link {
  text-decoration: none;
  color: var(--deep-blue);
  font-size: 16px;
  position: relative;
  transition: color 0.3s ease;
}

.nav-links .nav-link:hover {
  color: var(--orange);
}


.nav-link.active {
  color: var(--orange);

}

.donate-btn {
  background-color: var(--deep-blue);
  color: var(--orange);
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;

}

.donate-btn:hover {
  background-color: #0f263d;
}


/* Hamburger Menu */
.menu-icon{
  display: none;
  font-size: 25px;
  cursor: pointer;
  color: var(--deep-blue);
  padding-top: 7px;

}

#menu-toggle {
  display: none;
}

/* Responsive Styling  */
@media (max-width: 768px) {

  .logo img {
    padding-top: 7px;
    width: 120px;
    height: auto;
  }

  .menu-icon {
    display: block;
  }

  .nav-links {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--light-gray);
    width: 100%;
    position: absolute;
    top: 70px;
    left: 0;
    padding: 10px 20px;
    display: none;
  }

  #menu-toggle:checked + .menu-icon + .nav-links {
    display: flex;
  }

  .nav-links a {
    padding: 10px 0;
    width: 100%;
  }


  .donate-mobile {
    width: 100%;
    margin-top: 10px;
  }

  .donate-btn {
    display: block;
    background-color: var(--deep-blue);
    color: var(--white);
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }

  .donate-btn:hover {
    background-color: #0f263d;
  }

}


/* Hero section */
.hero {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1.2rem;
  background: rgba(255, 255, 255, 0.8) url('imgs/pattern.svg') center;
  background-blend-mode: overlay;
  min-height: 80vh;
  
}

.hero-text {
  max-width: 600px;

}

.hero-text h1 {
  font-size: 2rem;
  color: var(--deep-blue);
  line-height: 1.2;
  margin-bottom: 1rem;
}

.hero-text p {
  font-size: 0.85rem;
  color: #333;
  margin-bottom: 1.5rem;
}

.hero-btn {
  margin-top: 2rem;
}

.hero-btn a{
  background-color: var(--deep-blue);
  color: var(--orange);
  padding: 12px 18px;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.hero-btn a:hover {
  background-color: #0f263d;
}

.hero-image {
  display: none;
}

@media(min-width: 769px) {

  .hero {
    flex-direction: row;
    text-align: left;
    padding: 2rem;
    gap: 2rem;
  
  }

  .hero-text {
    max-width: 400px;
  }

  .hero-text h1 {
    font-size: 2.7rem;
  }

  .hero-text p {
    font-size: 1.1rem;
  }

  .hero-image {
    display: block;
    flex: 1;
    max-width: 400px;
    padding: 1rem;
  }

  .hero-image img {
    width: 100%;
    height: 550px;
    object-fit: cover;
  }
}

@media(min-width: 1140px) {

  .hero {
    gap: 4rem;
  }

  .hero-text {
    max-width: 600px;

  }

  .hero-image {
    max-width: 600px;
  }

  .hero-image img {
    height: 650px;
  }
}

/* about section */

.about-title {
	font-size: 1rem;
	padding-top: 70px;
}

.about-title h2 {
	text-align: center;
	text-transform: capitalize;
	letter-spacing: 0.20rem;
  font-weight: 600;
  color: var(--deep-blue);
}

.about-title span {
	padding-left: 14px;
	color: var(--orange);
}

.about-container { 
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 1rem;
}

.img-ab {
  width: 100%;
	display: block;
  border-radius: 0.5rem;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.vision-info {
  padding-top: 3rem;
}

.mission-info h3, .vision-info h3{
  color: var(--deep-blue);
  text-transform: capitalize;
  font-weight: 500;
  position: relative;
}

.mission-info h3::after, .vision-info h3::after {
  content: "";
  position: absolute;
  background-color: var(--orange);
  height: 3px;
  width: 32px;
  left: 0;
  bottom: -1px;
}

.mission-info p, .vision-info p {
  color: var(--deep-blue);
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 0.5rem;
}

.about-btn, .gallery-btn {
  text-align: center;
  margin-top: 1.5rem;
}


.about-btn a, .gallery-btn a {
  background-color: var(--deep-blue);
  color: var(--orange);
  padding: 12px 18px;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.about-btn a:hover, .gallery-btn a:hover {
  background-color: #0f263d;
}

@media screen and (max-width: 960px) {
  .img-ab {
    width: 100%;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
  }

}

@media (min-width: 1140px) {
  .about-container {
    gap: 4rem;
  }

  .mission-info {
    padding-top: 1rem;
  }
}


/* What we do section */
.what-we-section {
  padding: 4rem 1rem;
  max-width: 1200px;
  margin: auto;
}

.what-we-title {
  font-size: 1rem;
	padding-top: 20px;
	margin-bottom: 1rem;
}

.what-we-title h2{
  letter-spacing: 0.20rem;
  text-transform: capitalize;
  font-weight: 600;
  padding-bottom: 0.5rem;
  text-align: center;
  color: var(--deep-blue);
}

.what-we-title span {
  color: var(--orange);
}

.what-we-title p {
  font-size: 1rem;
  color: var(--deep-blue);
  margin-bottom: 3rem;
  text-align: center;
  padding-top: .5rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin-bottom: 3rem;
}

.card {
  text-align: center;
  padding: 2rem;
  background: var(--light-gray);
  border-radius: 0.5rem;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0,0,0,0.1);
}

.card h3 {
  color: var(--orange);
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.card p {
  color: var(--deep-blue);
}

.recent-outreach {
  margin-top: 4rem;
}

.recent-outreach h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-weight: 500;
  color: var(--deep-blue);
  position: relative;
}

.recent-outreach h3::after{
  content: "";
  position: absolute;
  background-color: var(--orange);
  height: 3px;
  width: 32px;
  left: 0;
  bottom: -1px;
}

.recent-outreach p {
  color: var(--deep-blue);
  margin-bottom: 2rem;
  
}

.media-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.first-set, .second-set {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  justify-content: center;
  align-items: stretch;
}

.first-set img, .second-set img {
  width: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.second-set {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s ease;
}

.second-set.show {
  max-height: 1000px; 
  opacity: 1;
}


.first-set img:hover, .second-set img:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.gallery-btn{
  margin-top: 1.9rem;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {

  .second-set.show {
    max-height: 1500px;
  }

  .second-set img {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }

  .second-set.show img {
    opacity: 1;
    transform: translateY(0);
  }

  /* Staggered animation delay for each image */
  .second-set.show img:nth-child(1) { transition-delay: 0.1s; }
  .second-set.show img:nth-child(2) { transition-delay: 0.2s; }
  .second-set.show img:nth-child(3) { transition-delay: 0.3s; }
  .second-set.show img:nth-child(4) { transition-delay: 0.4s; }
  .second-set.show img:nth-child(5) { transition-delay: 0.5s; }
  .second-set.show img:nth-child(6) { transition-delay: 0.6s; }
}

@media (min-width: 768px) {
  .first-set, .second-set {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .cards {
    grid-template-columns: 1fr;
  }
}


/* facts section */
.facts-section {
  background-color: var(--light-gray);
  padding: 3rem 1rem;
  margin: auto;
}
.facts-title {
  font-size: 1rem;
}

.facts-title h2{
  letter-spacing: 0.20rem;
  text-transform: capitalize;
  font-weight: 600;
  padding-bottom: 0.5rem;
  text-align: center;
  color: var(--deep-blue);
}

.facts-title span {
  color: var(--orange);
}

.facts-title p {
  font-size: 1rem;
  color: var(--deep-blue);
  margin-bottom: 2rem;
  text-align: center;
  padding-top: .5rem;
}

.facts-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 3rem;
}

.fact-card {
  display: flex;
} 

.fact-card img {
  width: 43px;
  height: 43px;
}

.fact-card-img-container {
  padding-top: 8px;
}

.fact-info {
  padding-left: 1.2rem;
}

.fact-info h3 {
  margin: 0;
  font-size: 22px;
  font-weight: 600;
  color: var(--deep-blue);
}

.fact-info p {
  margin: 0;
  font-size: 15px;
  font-weight: 400;
  color: var(--deep-blue);
}

@media (max-width: 426px) {
  .facts-container {
    flex-direction: column;
    gap: 2rem;
  }
  
}

@media (min-width: 426px) and (max-width: 768px) {
  .facts-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
  }
  
}

/* Get involved section */

.get-involved {
  padding: 4rem 1rem;
  max-width: 1200px;
  margin: auto;
}

.get-involved-title {
  font-size: 1rem;
	padding-top: 20px;
	margin-bottom: 1rem;
}

.get-involved-title h2{
  letter-spacing: 0.20rem;
  text-transform: capitalize;
  font-weight: 600;
  padding-bottom: 0.5rem;
  text-align: center;
  color: var(--deep-blue);
}

.get-involved-title span {
  color: var(--orange);
}

.get-involved-title p {
  font-size: 1rem;
  color: var(--deep-blue);
  margin-bottom: 3rem;
  text-align: center;
  padding-top: .5rem;
}

.get-involved-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.get-involved-card {
  text-align: start;
  width: 100%;
}

.get-involved-info, .get-involved-btn{
  padding: 1.25rem 0;
}

.get-involved-info h3{
  color: var(--orange);
  margin-bottom: 1rem;
}

.get-involved-info p {
  color: var(--deep-blue);
}

.card-image {
  height: 15rem;
  width: 100%;
  object-fit: cover;
}

.get-involved-btn {
  margin-bottom: 1rem;
}

.get-involved-btn a {
  background-color: var(--deep-blue);
  color: var(--orange);
  padding: 12px 18px;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.get-involved-btn a:hover {
  background-color: #0f263d;
}


/* testimonials section */

.testimonials{
  padding: 2rem 1rem;
  max-width: 1200px;
  margin: auto;
}

.testimonials-title {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.testimonials-title h2{
  letter-spacing: 0.20rem;
  text-transform: capitalize;
  font-weight: 600;
  padding-bottom: 0.5rem;
  text-align: center;
  color: var(--deep-blue);
}

.testimonials-title span {
  color: var(--orange);
}

.testimonials-title p {
  font-size: 1rem;
  color: var(--deep-blue);
  margin-bottom: 3rem;
  text-align: center;
  padding-top: .5rem;
}

.testimonial-main {
  display: flex;
  flex-direction: column;
}

.testimonial-entry {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background: var(--light-gray);
  transition: all 0.3s linear;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.testimonial-entry:hover {
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

.testimonial-entry .testimonial-info p {
  color: var(--deep-blue);
  font-size: 1rem;
  padding-top: 1rem;
}

.testimonial-info p i {
  font-size: 20px;
}

.testimonial-head {
  display: flex;
  padding-top: 2rem;
}

.testimonial-entry .author-img {
  width: 55px;
  height: 55px;
  background-size: cover;
  background-position: center center;
  background-color: var(--deep-blue);
  object-fit: cover;  
  float: left;
  margin-right: 15px;
  margin-top: 3px;
  border-radius: 50%;
}

.user {
  font-size: 15px;
  padding-top: 7px;
}

.user small {
  font-size: 11px;
  color: #8f989f;
}


/* team section */
.team {
  padding: 3rem 1rem;
  max-width: 1200px;
  margin: auto;
}

.team-title {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.team-title h2{
  letter-spacing: 0.20rem;
  text-transform: capitalize;
  font-weight: 600;
  padding-bottom: 0.5rem;
  text-align: center;
  color: var(--deep-blue);
}

.team-title span {
  color: var(--orange);
}

.team-title p {
  font-size: 1rem;
  color: var(--deep-blue);
  margin-bottom: 3rem;
  text-align: center;
  padding-top: .5rem;
}

.team-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: 4rem;
}

.team .team-item {
  position: relative;
  margin-bottom: 35px;
}

.team .team-image {
  position: relative;
  overflow: hidden;
}

.team-image {
  height: 35rem;
}
.team .team-image img {
  width: 100%;
  transform: scale(1.1);
  margin-bottom: -15px;
  transition: .3s;
}

.team .team-item:hover img {
  margin: -15px 0 0 0;
}

.team .team-text {
  position: absolute;
  width: calc(100% - 40px);
  height: 96px;
  bottom: 0;
  left: 20px;
  padding: 22px 0;
  text-align: center;
  background: #ffffff;
  transition: .3s;
  overflow: hidden;
}

.team .team-text h2 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
  color: var(--deep-blue);
}

.team .team-text p {
  margin-bottom: 20px;;
}

.team .team-social {
  position: relative;
  font-size: 0;
}

.team .team-socials a {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin: 0 3px;
  padding: 5px 0;
  text-align: center;
  font-size: 14px;
  color: #4a4c70;
  border: 2px solid var(--orange);
  transition: .3s;
}

.team .team-socials a:hover {
  color: #20212B;
  background: var(--orange);
}

.team .team-item:hover .team-text {
  height: 160px;
}


/* contact section */
.contact-section {
  padding: 3rem 1rem;
  max-width: 1200px;
  margin: auto;
}


.contact-title {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.contact-title h2{
  letter-spacing: 0.20rem;
  text-transform: capitalize;
  font-weight: 600;
  padding-bottom: 0.5rem;
  text-align: center;
  color: var(--deep-blue);
}

.contact-title span {
  color: var(--orange);
}

.contact-title p {
  font-size: 1rem;
  color: var(--deep-blue);
  margin-bottom: 3rem;
  text-align: center;
  padding-top: .5rem;
}

.contact-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-top: 3rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-image: url('imgs/blob-scene-haikei.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.contact-img img{
  width: 100%;
  object-fit: cover;
}

.contact-img {
  padding-bottom: 3rem;
}

.contact-item {
  padding-left: 3rem;
  padding-top: 2.5rem;

}

@media (min-width: 1140px) {
  .contact-item {
    padding-left: 3.5rem;
    padding-top: 4rem;
  }
}

.contact-item h3 {
  color: var(--deep-blue);
}

.contact-item small {
  font-size: 0.8rem;
  color: var(--grey);
}

.contact-item h3 {
  padding-top: 0.5rem;
}

.contact-name {
  padding-top: 2rem;
  display: flex;
  gap: 1rem;
}

.contact-icon {
  padding-top: 7px;
}


.contact-info h5 {
  font-size: 0.8rem;
  color: var(--grey);
  font-weight: 400;
}

.contact-info a {
  text-decoration: none;
  color: black;
  transition: .3s;
}

.contact-info a:hover {
  color: var(--orange);
  letter-spacing: 1px;
}

.location-info {
  font-size: 16px;
  font-weight: 400;
}

.contact-socials {
  padding-top: 1.5rem;
}

.contact-socials h3 {
  color: var(--deep-blue);
}

.contact-social {
  padding: 2rem 0;
}

.contact-social a:not(:first-child) {
  padding-left: 2rem;
}


@media (max-width: 768px) {
  .contact-container {
    grid-template-columns: 1fr;
    padding: 0 1rem;
  }

  .contact-item {
    padding-left: 2rem;
    padding-top: 3.5rem;
  }
  .contact-img img {
    display: none;
  }
} 


@media (max-width: 320px) {
  .contact-container {
    padding-left: 20px;
    padding-top: 1.3rem;
  }
  .contact-item {
    padding-left: 0;
  }
}


/* footer section */
.footer-section {
  margin-top: 6rem;
  background: #f4f5f8;
  padding: 3rem 1rem 1rem;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding-bottom: 3rem;
}

.footer-logo {
  padding-bottom: 2rem;
}

.footer-img img {
  width: 140px;
  height: auto;
}

.footer-img p {
  padding-left: 5px;
  font-size: 15px;
  color: black;
  padding-top: 1rem;
}

.footer-socials {
  padding-top: 2rem;
}

.footer-socials i {
  font-size: 17px;
}

.footer-socials a {
  padding: 8px 14px;
  text-align: center; 
  color: var(--deep-blue);
  border-radius: 0;
  border: 2px solid var(--orange);
  box-shadow: inset 0 0 0 0 var(--orange);
  transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  -moz-transition: ease-out 0.3s;
}

.footer-socials a:hover {
  color: var(--deep-blue);
  box-shadow: inset 0 0 0 30px var(--orange);
}

.footer-socials a:focus {
  box-shadow: none;
}

.footer-socials a:not(:first-child) {
  margin-left: 15px;
}

.footer-links {
  padding-left: 5rem;
  padding-top: 2rem;
}

.footer-links h4, .footer-contact h4 {
  color: var(--deep-blue);
  font-size: 1.2rem;
  padding-bottom: 1rem;
  font-weight: 600;
  position: relative;
}

.footer-links h4::after, .footer-contact h4::after {
  content: "";
  position: absolute;
  background-color: var(--orange);
  height: 2px;
  width: 47px;
  left: 0;
  bottom: 15px;
}

.footer-link li {
  list-style: none;
}

.footer-quick-link{
  text-decoration: none;
  color: black;
  font-size: 16px;
  transition: 0.3s;
  
}

.footer-quick-link:hover {
  color: var(--orange);
  letter-spacing: 1px;
}

.footer-link li a i{
  color: var(--deep-blue);
  padding-right: 10px;
}


.footer-link li:not(:first-child) {
  padding-top: 8px;
}

.donate-footer {
  margin-top: 13px;
}

.donate-btn-footer {
  background-color: var(--deep-blue);
  color: var(--orange);
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.donate-btn-footer:hover {
  background-color: #0f263d;
}

.footer-contact {
  padding-top: 2rem;
}

.footer-contact i {
  color: var(--deep-blue);
}

.footer-contact p:not(:first-child) {
  padding-top: 8px;
}

.footer-contact a, .footer-contact span{
  padding-left: 10px;
}

.footer-contact a {
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

.footer-contact a:hover {
  color: var(--orange);
  letter-spacing: 1px;
}

.footer-bottom {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(19, 48, 79, 0.2);
}

.footer-bottom p {
  color: var(--deep-blue);
  font-size: 15px;
}

.footer-bottom a {
  text-decoration: none;
  color: var(--orange);
  position: relative;
}

.footer-bottom a::after {
  content: "";
  position: absolute;
  background-color: var(--deep-blue);
  height: 1.5px;
  width: 0;
  left: 0;
  bottom: -1px;
  transition: 0.4s;
}

.footer-bottom a:hover::after {
  width: 100%;
} 

@media (max-width: 426px) {
  .footer-links, .footer-contact {
    padding-left: 4px;
  }

  .footer-bottom {
    flex-direction: column;
  }
}
